@import 'styles/_functions';

.header {
  font-family: 'Parclo Sans Trial', sans-serif;
  font-size: 32px;
  font-weight: 700;
  // text-transform: uppercase;
  position: fixed;
  // height: 100vh;
  // inset: 0;
  // z-index: 2;
  width: 100%;
  pointer-events: none;

  z-index: 5;
  // color: var(--white);
  color: var(--white);
  mix-blend-mode: difference;
  // padding: mobile-vw(20px) 0;

  @include desktop {
    padding: 192px 244px 192px 192px;
  }

  .head {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: all;

    position: relative;
    z-index: 2;
  }
}
