@import 'styles/_functions';

// hide native scrollbar

.scrollbar {
  position: fixed;
  right: 96px;
  bottom: 0;
  top: 0;
  z-index: 1;
  padding: desktop-vw(24px) 0;
  font-family: 'Parclo Serif';
  font-size: 192px;
  text-align: center;
  border-right: solid 1px var(--gray);
  color: var(--gray);
  mix-blend-mode: multiply;
  opacity: 0.2;

  .inner {
    height: 100%;
    position: relative;
  }

  .thumb {
    // min-height: desktop-vw(48px);
    width: desktop-vw(8px);
    // background-color: var(--gray);
    position: absolute;
    right: desktop-vw(24px);
    // border-radius: desktop-vw(4px);
    // border: desktop-vw(1px) solid var(--black);
    cursor: grab;
  }
}
