@import 'styles/_functions';
.navigation {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 96px;
  right: 192px;
  width: 292px;
  text-align: right;
  font-weight: 400;
  font-size: 24px;
  z-index: 3;
  will-change: opacity;
  transition: opacity 300ms ease-in-out;

  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
  a {
    opacity: 0.4;
    will-change: opacity;
    transition: opacity 300ms ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  @include mobile {
    display: none;
  }
}
