@import 'styles/_functions';

$intro-in: 1500ms;
$intro-out: 1500ms;

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--theme-secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  // mix-blend-mode: difference;

  @include mobile {
    display: none;
  }

  &.out {
    transition: transform $intro-out var(--ease-out-expo);
    transform: translate3d(0, -100%, 0);
    transition-delay: calc($intro-in + 0ms);
  }

  .start {
    transform: translate3d(0, calc(var(--index) * 5% + 100%), 0);
  }

  .relative {
    margin: 0 auto;
    padding: 120px 0 0 0;
    width: 100%;

    transition: transform $intro-out var(--ease-out-expo);
    transform: translate3d(0, desktop-vh(850px), 0);
    transition-delay: calc($intro-in + 0ms);

    .hero {
      display: flex;
      flex-direction: column;
      // height: 100vh;
      position: relative;
      transform: translateY(-25%);
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      .title {
        display: flex;
        color: var(--theme-primary);
        // font-family: AsBlackDisk;
        font-family: 'Parclo Sans Condensed Trial';
        font-style: normal;
        font-weight: 975;
        // font-size: 708px;
        font-size: 666px;
        line-height: 80%;
        // letter-spacing: -0.03em;
        overflow: hidden;
        opacity: 0;
        will-change: transform, opacity;
        .cha {
          transform: translateY(0%);
          // opacity: 0;
        }
      }
    }
  }

  .show {
    transition: transform $intro-in var(--ease-out-expo);
    transition-delay: calc(var(--index) * 75ms);
    transform: translate3d(0, 0, 0);
  }
}

.translate {
  @include desktop {
    transform: translate3d(0, -100%, 0);
    transition: transform $intro-out var(--ease-out-expo);
  }
}

.mobile {
  @include mobile {
    transform: translate3d(0, -105%, 0);
  }
}
