@import 'styles/_functions';

.footer {
  font-family: 'Parclo Sans';
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  color: var(--theme-secondary);
  // background-color: var(--theme-primary);
  padding: mobile-vw(20px) 0;
  z-index: 999;
  @include mobile {
    padding: 48px 24px;
    font-size: 18px;
  }

  @include desktop {
    padding: desktop-vw(48px) desktop-vw(192px);
  }
}
