@import 'styles/_functions';
$delay-intro-bottom: 150ms;
$delay-intro-top: 450ms;
$intro-duration: 2050ms;

.home {
  padding-top: 572px;

  position: relative;
  left: 672px;
  width: 100%;

  @include mobile {
    padding-top: 192px;
    left: 0;
    width: 90vw;
    margin: auto;
  }

  .hero {
    font-size: 292px;
    font-family: 'Parclo Sans Condensed Trial';
    font-weight: 975;
    @include desktop {
      display: none;
    }
  }
  .disc {
    font-size: 18px;
    color: red;
    @include desktop {
      display: none;
    }
  }

  .intro {
    position: relative;
    line-height: 133%;
    width: 700px;

    font-size: 36px;
    z-index: 5;
    color: white;
    // mix-blend-mode: difference;
    mix-blend-mode: difference;
    @include mobile {
      font-size: 24px;
      width: 90vw;
    }
  }
  .content {
    width: 672px;

    margin-top: 192px;
    line-height: 133%;
    font-size: 24px;
    position: relative;
    font-family: 'Parclo Sans Trial';

    z-index: 1;
    @include mobile {
      margin-top: 96px;
      width: 100%;
      font-size: 18px;
    }

    .title {
      font-size: 48px;
      line-height: 133%;
      font-family: 'Parclo Serif Trial', serif;
      font-style: normal;
      font-weight: 900;
    }
    .subtitle {
      font-size: 36px;
      margin: 36px 0;
      line-height: 266%;
      @include mobile {
        line-height: 133%;
      }
    }
    ul {
      margin: 48px 0;
      list-style: upper-roman;
      li {
        margin: 24px 64px 0;

        &::marker {
          font-size: 16px;
          color: var(--shadow);
        }
      }
    }
  }

  .outro {
    height: 150vh;
    @include mobile {
      display: none;
    }
  }

  .gl {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 2;

    @include mobile {
      display: none;
    }

    .canvas {
      position: fixed;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }
}
