// HERE WE DEFINE FONT-FACES, I.E.:
@font-face {
  font-family: 'Parclo Sans';
  src: url('/fonts/psr.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Parclo Sans Bold';
  src: url('/fonts/psb.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Parclo Serif';
  src: url('/fonts/psf.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Parclo Serif Bold';
  src: url('/fonts/psfb.woff2') format('woff2');
  font-display: swap;
}

.text-right {
  text-align: right;
}
.text-gray {
  color: var(--gray);
}
.text-shadow {
  color: var(--shadow);
}
.text-noir {
  color: var(--noir);
}
.text-dark {
  color: var(--dark);
}

.truncate {
  max-width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.serif {
  font-family: 'Parclo Serif';
}
.sans {
}
