// HERE WE DEFINE FONT-FACES, I.E.:
@font-face {
  font-family: 'Parclo Sans Trial';
  src: url('/fonts/psr.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Parclo Sans Condensed Trial';
  src: url('/fonts/pscu.woff') format('woff2');
  font-display: swap;
  font-weight: 975;
}
@font-face {
  font-family: 'Parclo Sans Bold';
  src: url('/fonts/psb.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: 'Parclo Serif Trial';
  src: url('/fonts/psf.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Parclo Serif Trial';
  src: url('/fonts/psfb.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
}

.text-right {
  text-align: right;
}
.text-gray {
  color: var(--gray);
}
.text-shadow {
  color: var(--shadow);
}
.text-noir {
  color: var(--noir);
}
.text-dark {
  color: var(--dark);
}

.serif {
  font-family: 'Parclo Serif Trial';

  opacity: 0.6;
}

.serifi {
  font-family: 'Parclo Serif Trial';
  font-style: italic;
  opacity: 0.6;
}

.firstletter::first-letter {
  // -webkit-initial-letter: 2;
  font-family: 'Parclo Serif Trial';
  // initial-letter: 2;
  font-size: 112px;
  padding: 12px 12px 0 0;
  margin: 12px 0 0 0;

  float: left;
  line-height: 0.5;
}

.truncate {
  max-width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
